{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience New York City</title>
</head>
<body style="background:url(https://i.pinimg.com/originals/80/de/83/80de83a00e4782efe7b47c3b43374df7.jpg); background-repeat: no-repeat;background-size: cover;">
 
    <h1 style="color:white">Experience the City of Dreams </h1>
<p style="color:white">
    Wondering about fun activities to do in the big city? Check out this
    directory of activities in each borough!
</p>

<ul style="list-style:none">
    {% for borough in boroughs %}
    <li style="font-size:x-large;"> <a style="color:white" href="{% url 'borough' borough %}">{{ borough|title }}</a></li>
    {% endfor %}
</ul>



</body>
</html>








